Repository AsuraH26/Testing-, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acidicMercury8, @Drombeys, @ForserX

Temp fix. DELETE
  src/xrGame/alife_storage_manager.cpp
Owners: @Drombeys, @ForserX

Added actor_before_death callback to bind_stalker
  gamedata/scripts/bind_stalker.script
Owners: @Drombeys

Add PDA rank system feature
  gamedata/configs/ui/pda_ranking.xml
  gamedata/configs/ui/pda_ranking_16.xml
  gamedata/scripts/pda.script
  src/xrGame/ui/UIPdaWnd.cpp
  src/xrGame/ui/UIPdaWnd.h
  src/xrGame/ui/UIRankingWnd.cpp
  src/xrGame/ui/UIRankingWnd.h
  src/xrGame/ui/UIRankingsCoC.cpp
  src/xrGame/ui/UIRankingsCoC.h
  src/xrUI/Widgets/UIListBox_script.cpp
Owners: @Drombeys, @ForserX

More CUIActorMenu exports
  src/xrGame/UIZoneMap.cpp
  src/xrGame/UIZoneMap.h
  src/xrGame/WeaponMagazined.cpp
  src/xrGame/WeaponMagazinedWGrenade.cpp
  src/xrGame/ui/UIActorMenu.h
  src/xrGame/ui/UIActorMenuInventory.cpp
  src/xrGame/ui/UIActorMenu_script.cpp
  src/xrGame/ui/UIDragDropListEx.h
  src/xrGame/ui/UIHudStatesWnd.cpp
  src/xrGame/ui/UIHudStatesWnd.h
  src/xrGame/ui/UIMainIngameWnd.h
  src/xrGame/ui/UIPdaWnd.h
  src/xrServerEntities/inventory_space.h
Owners: @Drombeys, @ForserX

Attempt to fix actor_before_death callback
  src/xrGame/Entity.cpp
  src/xrGame/Entity.h
  src/xrGame/script_game_object.h
  src/xrGame/script_game_object_use.cpp
Owners: @Drombeys, @ForserX

Added car exports to Lua
  src/xrGame/Actor.cpp
  src/xrGame/Actor.h
  src/xrGame/ActorInput.cpp
  src/xrGame/ActorMountedWeapon.cpp
  src/xrGame/ActorVehicle.cpp
  src/xrGame/Entity.cpp
  src/xrGame/HolderEntityObject.cpp
  src/xrGame/HolderEntityObject.h
  src/xrGame/StaticHolderEntity.h
  src/xrGame/WeaponStatMgun.cpp
  src/xrGame/WeaponStatMgunFire.cpp
  src/xrGame/holder_custom.h
  src/xrGame/holder_custom_script.cpp
  src/xrGame/script_game_object.h
  src/xrGame/script_game_object3.cpp
  src/xrGame/script_game_object_script3.cpp
  src/xrServerEntities/clsid_game.h
  src/xrServerEntities/object_factory_register.cpp
Owners: @Drombeys, @ForserX

Fixed :smiley:
  src/xrGame/Entity.cpp
Owners: @Drombeys, @ForserX

Vanilla CoP compatibility
  src/xrGame/Entity.cpp
  src/xrGame/ui/UIHudStatesWnd.cpp
Owners: @Drombeys, @ForserX

More level_script exports
  src/xrCore/xrDebug.cpp
  src/xrEngine/string_table.cpp
  src/xrEngine/string_table.h
  src/xrGame/ai_space.h
  src/xrGame/ai_space_inline.h
  src/xrGame/level_script.cpp
  src/xrGame/patrol_path_storage.cpp
  src/xrGame/patrol_path_storage.h
  src/xrGame/ui/UIGameTutorial.cpp
  src/xrGame/ui/UIGameTutorial.h
Owners: @Drombeys, @ForserX

Added raypick script export
  src/xrGame/level_script.cpp
  src/xrGame/raypick.cpp
  src/xrGame/raypick.h
Owners: @Drombeys, @ForserX

Fixed progress color for consumable items
  src/xrGame/eatable_item.cpp
  src/xrGame/ui/UIActorMenu.h
  src/xrGame/ui/UIActorMenuInventory.cpp
  src/xrGame/ui/UICellItem.cpp
  src/xrUI/Widgets/UIProgressBar.cpp
  src/xrUI/Widgets/UIProgressBar.h
Owners: @Drombeys, @ForserX

Fixed strange crash after using item in quick slot
  src/xrGame/eatable_item.cpp
  src/xrGame/ui/UIActorMenu.h
  src/xrGame/ui/UIActorMenuInventory.cpp
Owners: @Drombeys, @ForserX

Fixed hovering items on each other
  src/xrGame/ui/UIActorMenu.h
  src/xrGame/ui/UIActorMenuInventory.cpp
  src/xrGame/ui/UIActorMenu_action.cpp
  src/xrGame/ui/UIActorMenu_script.cpp
  src/xrGame/ui/UIDragDropListEx.h
Owners: @Drombeys, @ForserX

Added some new script exports
  src/xrGame/ActorCondition.h
  src/xrGame/ActorCondition_script.cpp
  src/xrGame/BottleItem.h
  src/xrGame/BottleItem_script.cpp
  src/xrGame/CustomOutfit.h
  src/xrGame/CustomOutfit_script.cpp
  src/xrGame/CustomZone.h
  src/xrGame/CustomZone_script.cpp
  src/xrGame/EntityCondition.h
  src/xrGame/FoodItem.h
  src/xrGame/FoodItem_script.cpp
  src/xrGame/HudItem.h
  src/xrGame/HudItem_script.cpp
  src/xrGame/InventoryBox.h
  src/xrGame/InventoryBox_script.cpp
  src/xrGame/InventoryOwner.h
  src/xrGame/InventoryOwner_script.cpp
  src/xrGame/PhysicsShellHolder.h
  src/xrGame/PhysicsShellHolder_script.cpp
  src/xrGame/StalkerOutfit.cpp
  src/xrGame/WeaponAmmo.cpp
  src/xrGame/WeaponAmmo.h
  src/xrGame/WeaponAmmo_script.cpp
  src/xrGame/ai/monsters/basemonster/base_monster_startup.cpp
  src/xrGame/ai/stalker/ai_stalker_script.cpp
  src/xrGame/antirad.h
  src/xrGame/antirad_script.cpp
  src/xrGame/fs_registrator_script.cpp
  src/xrGame/inventory_item.cpp
  src/xrGame/inventory_item.h
  src/xrGame/inventory_item_script.cpp
  src/xrGame/medkit.h
  src/xrGame/medkit_script.cpp
  src/xrGame/ui/UIActorMenu_script.cpp
  src/xrGame/ui/UIDragDropListEx.cpp
  src/xrServerEntities/script_engine_export.cpp
Owners: @Drombeys, @ForserX

Fix Marshal loading
  src/xrGame/alife_storage_manager.cpp
Owners: @Drombeys, @ForserX

Fix non-unity build
  src/xrGame/ActorCondition.h
  src/xrGame/ActorCondition_script.cpp
  src/xrGame/PhysicsShellHolder_script.cpp
  src/xrGame/script_game_object4.cpp
Owners: @Drombeys, @ForserX

Added more alife simulator script exports
  src/xrGame/alife_simulator_script.cpp
Owners: @Drombeys, @ForserX

Some UI exports
  src/xrGame/UIGameCustom_script.cpp
  src/xrUI/Widgets/UIComboBox.cpp
  src/xrUI/Widgets/UIComboBox.h
  src/xrUI/Widgets/UIComboBox_script.cpp
  src/xrUI/Widgets/UIDialogHolder.h
  src/xrUI/Widgets/UIListBoxItem.cpp
  src/xrUI/Widgets/UIListBox_script.cpp
  src/xrUI/Widgets/UIMessages.h
  src/xrUI/Widgets/UIPropertiesBox_script.cpp
  src/xrUI/Widgets/UIStatic_script.cpp
  src/xrUI/Widgets/UITrackBar.cpp
  src/xrUI/Widgets/UIWindow_script.cpp
Owners: @Drombeys, @ForserX

Removed invalid vertex crash
  src/xrGame/alife_switch_manager.cpp
Owners: @Drombeys, @ForserX

Temporary fix for classes duplication
  src/xrServerEntities/script_engine_export.cpp
Owners: @Drombeys, @ForserX

Insane amount of script game object exports
  src/xrGame/Artefact.h
  src/xrGame/Weapon.h
  src/xrGame/ai/phantom/phantom.cpp
  src/xrGame/ai/phantom/phantom.h
  src/xrGame/ai/stalker/ai_stalker.cpp
  src/xrGame/ai/stalker/ai_stalker.h
  src/xrGame/danger_manager.cpp
  src/xrGame/danger_manager.h
  src/xrGame/hit_memory_manager.cpp
  src/xrGame/hit_memory_manager.h
  src/xrGame/inventory_item.h
  src/xrGame/script_bind_macroses.h
  src/xrGame/script_game_object.cpp
  src/xrGame/script_game_object.h
  src/xrGame/script_game_object2.cpp
  src/xrGame/script_game_object3.cpp
  src/xrGame/script_game_object4.cpp
  src/xrGame/script_game_object_inventory_owner.cpp
  src/xrGame/script_game_object_script2.cpp
  src/xrGame/script_game_object_script3.cpp
  src/xrGame/sound_memory_manager.cpp
  src/xrGame/sound_memory_manager.h
  src/xrGame/space_restrictor.h
  src/xrGame/visual_memory_manager.cpp
  src/xrGame/visual_memory_manager.h
  src/xrServerEntities/xrMessages.h
Owners: @Drombeys, @ForserX

Added some new inventory functions
  src/xrGame/ui/UIActorMenu.h
  src/xrGame/ui/UIActorMenuDeadBodySearch.cpp
  src/xrGame/ui/UIActorMenuTrade.cpp
Owners: @Drombeys, @ForserX

Fixed inventory items not updating progressbar
  src/xrGame/Inventory.cpp
  src/xrGame/alife_trader_abstract.cpp
  src/xrGame/ui/UIActorMenuInventory.cpp
  src/xrGame/ui/UIActorMenu_action.cpp
  src/xrGame/ui/UICellCustomItems.cpp
  src/xrGame/ui/UICellItem.cpp
  src/xrUI/Widgets/UIProgressBar.cpp
  src/xrUI/Widgets/UIProgressBar.h
Owners: @Drombeys, @ForserX

Added set_health_ex script function
  src/xrGame/script_game_object.h
  src/xrGame/script_game_object4.cpp
  src/xrGame/script_game_object_script3.cpp
Owners: @Drombeys, @ForserX

Rework device shit
  src/Layers/xrRender/Blender_Recorder_StandartBinding.cpp
  src/Layers/xrRenderDX10/dx10R_Backend_Runtime.h
  src/Layers/xrRenderInterface/CMakeLists.txt
  src/Layers/xrRenderInterface/DeviceRHI.cpp
  src/Layers/xrRenderInterface/DeviceRHI.h
  src/Layers/xrRenderInterface/DllEntry.cpp
  src/Layers/xrRenderInterface/Dx11/DeviceCreate.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Buffer.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Buffer.h
  src/Layers/xrRenderInterface/Dx11/Dx11Device.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Device.h
  src/Layers/xrRenderInterface/Dx11/Dx11DeviceCreate.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11RenderTarget.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11RenderTarget.h
  src/Layers/xrRenderInterface/Dx11/Dx11Texture.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Texture.h
  src/Layers/xrRenderInterface/DxGI/Factory.cpp
  src/Layers/xrRenderInterface/RHIRenderFlags.h
  src/Layers/xrRenderInterface/stdafx.h
  src/xrEngine/CMakeLists.txt
  src/xrEngine/Device_create_render.cpp
  src/xrEngine/Device_create_render_dx9.cpp
  src/xrEngine/Device_destroy.cpp
  src/xrEngine/EngineAPI.cpp
  src/xrEngine/EngineAPI.h
  src/xrEngine/FPSCounter.cpp
  src/xrEngine/defines.cpp
  src/xrEngine/defines.h
  src/xrEngine/device.h
Owners: @Drombeys, @ForserX, @acidicMercury8

CRender and XStreams moved to RHII
  src/Layers/xrRender/R_DStreams.cpp
  src/Layers/xrRender/R_DStreams.h
  src/Layers/xrRenderPC_R4/r4.cpp
  src/Layers/xrRenderPC_R4/r4.h
Owners: @Drombeys, @ForserX

Add some shader shit
  src/Layers/xrRender/R_Backend.h
  src/Layers/xrRender/SH_Atomic.h
  src/Layers/xrRenderDX10/dx10R_Backend_Runtime.h
  src/Layers/xrRenderInterface/DeviceRHI.h
  src/Layers/xrRenderInterface/Dx11/Dx11Device.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Device.h
  src/Layers/xrRenderInterface/Dx11/Dx11Shader.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Shader.h
Owners: @Drombeys, @ForserX

Add xrRenderInterface
  src/CMakeLists.txt
  src/Layers/xrRenderInterface/CMakeLists.txt
  src/Layers/xrRenderInterface/DeviceRHI.cpp
  src/Layers/xrRenderInterface/DeviceRHI.h
  src/Layers/xrRenderInterface/DllEntry.cpp
  src/Layers/xrRenderInterface/Dx11/DeviceCreate.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Buffer.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Buffer.h
  src/Layers/xrRenderInterface/Dx11/Dx11RenderTarget.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11RenderTarget.h
  src/Layers/xrRenderInterface/Dx11/Dx11Texture.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Texture.h
  src/Layers/xrRenderInterface/linker.h
  src/Layers/xrRenderInterface/stdafx.cpp
  src/Layers/xrRenderInterface/stdafx.h
Owners: @acidicMercury8, @ForserX, @Drombeys

Buffer workaround in r4
  src/Layers/xrRender/R_Backend.h
  src/Layers/xrRender/ResourceManager.h
  src/Layers/xrRender/Shader.cpp
  src/Layers/xrRender/Shader.h
  src/Layers/xrRenderDX10/dx10ConstantBuffer.cpp
  src/Layers/xrRenderDX10/dx10ConstantBuffer.h
  src/Layers/xrRenderDX10/dx10R_Backend_Runtime.h
  src/Layers/xrRenderDX10/dx11ResourceManager_Resources.cpp
  src/Layers/xrRenderInterface/DeviceRHI.h
  src/Layers/xrRenderInterface/Dx11/Dx11Buffer.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Buffer.h
Owners: @Drombeys, @ForserX

Fix building and little refactor
  src/Layers/xrRender/Blender_Recorder_StandartBinding.cpp
  src/Layers/xrRenderDX10/dx10R_Backend_Runtime.h
  src/Layers/xrRenderInterface/CMakeLists.txt
  src/Layers/xrRenderInterface/DeviceRHI.h
  src/Layers/xrRenderInterface/Dx11/Dx11Buffer.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Buffer.h
  src/Layers/xrRenderInterface/Dx11/Dx11Device.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Device.h
  src/Layers/xrRenderInterface/Dx11/Dx11DeviceCreate.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Texture.h
  src/xrEngine/Device_create_render.cpp
  src/xrEngine/Device_destroy.cpp
  src/xrEngine/device.h
Owners: @Drombeys, @ForserX, @acidicMercury8

Add Draw and DrawIndexed
  src/Layers/xrRenderDX10/dx10R_Backend_Runtime.h
  src/Layers/xrRenderInterface/DeviceRHI.h
  src/Layers/xrRenderInterface/Dx11/Dx11Device.cpp
  src/Layers/xrRenderInterface/Dx11/Dx11Device.h
Owners: @Drombeys, @ForserX

Engine
  sdk/include/luabind/class_info.hpp
  src/xrCore/_stl_extensions.h
  src/xrGame/GameTask.cpp
  src/xrGame/GameTask.h
  src/xrGame/GameTaskDefs.h
  src/xrGame/GametaskManager.cpp
  src/xrGame/GametaskManager.h
  src/xrGame/Level.cpp
  src/xrGame/Level.h
  src/xrGame/Level_network.cpp
  src/xrGame/Level_start.cpp
  src/xrGame/UIGameSP.cpp
  src/xrGame/actor_communication.cpp
  src/xrGame/console_commands.cpp
  src/xrGame/map_location.cpp
  src/xrGame/map_manager.cpp
  src/xrGame/map_spot.cpp
  src/xrGame/script_game_object_inventory_owner.cpp
  src/xrGame/script_utility.cpp
  src/xrGame/script_utility.h
  src/xrGame/script_xr_conditions.cpp
  src/xrGame/script_xr_conditions.h
  src/xrGame/script_xr_conditions_functions.h
  src/xrGame/script_xr_effects.cpp
  src/xrGame/script_xr_effects.h
  src/xrGame/script_xr_effects_functions.h
  src/xrGame/script_xr_logic.cpp
  src/xrGame/script_xr_logic.h
  src/xrGame/ui/UIMapWnd.cpp
  src/xrGame/ui/UISecondTaskWnd.cpp
  src/xrGame/ui/UITaskWnd.cpp
  src/xrGame/ui/map_hint.cpp
  src/xrPlay/UIEditorMain.cpp
  src/xrScripts/script_engine.cpp
  src/xrScripts/script_engine_script.cpp
  src/xrServerEntities/script_engine_export.cpp
  src/xrServerEntities/script_engine_export.h
Owners: @Drombeys, @ForserX

Add gunslinger mode engine external
  gamedata/configs/engine_external.ltx
  src/xrEngine/EngineExternal.cpp
  src/xrEngine/EngineExternal.h
Owners: @Drombeys, @ForserX

Add parametrs to hide and show bones by default
  src/xrGame/Weapon.cpp
  src/xrGame/Weapon.h
Owners: @Drombeys, @ForserX

Add aiming formula for gunslinger mode
  src/xrGame/Actor.cpp
Owners: @Drombeys, @ForserX

Add `hud_when_silencer_is_attached` parameter
  src/xrGame/HudItem.cpp
  src/xrGame/HudItem.h
  src/xrGame/Missile.cpp
  src/xrGame/Weapon.cpp
  src/xrGame/Weapon.h
  src/xrGame/WeaponMagazined.cpp
  src/xrGame/WeaponMagazined.h
Owners: @Drombeys, @ForserX

Add holster and show sounds for `CMissile`
  src/xrGame/Missile.cpp
  src/xrGame/Missile.h
Owners: @Drombeys, @ForserX

Add holster and show sounds for `CWeaponKnife`
  src/xrGame/WeaponKnife.cpp
  src/xrGame/WeaponKnife.h
Owners: @Drombeys, @ForserX

Add `disable_bore` parametr
  src/xrGame/HudItem.cpp
Owners: @Drombeys, @ForserX

Add hide/show bones parametres in config and upgrades
  src/xrGame/Weapon.cpp
  src/xrGame/Weapon.h
  src/xrGame/WeaponUpgrade.cpp
Owners: @Drombeys, @ForserX

.github/CODEOWNERS:

# Default assignment
* @acidicMercury8 @Drombeys

# Sources
sdk/ @Drombeys @ForserX
src/ @Drombeys @ForserX

# Assets
gamedata/ @Drombeys
rawdata @Drombeys

# Configs
*.config @acidicMercury8 @ForserX
*.json @acidicMercury8
*.yaml @acidicMercury8
*.yml @acidicMercury8

# Build system
cmake/* @acidicMercury8 @ForserX
*.cmake @acidicMercury8 @ForserX
*.txt @acidicMercury8 @ForserX
